<%= render 'reminders' %>

<div class="card horizontal">
    <div class="row">
        <div class="col m5 s12">
            <%= image_tag 'contability', alt: 'contabilidade wallpaper' %>

            <div class="card-action center-align">
                <%= link_to 'Cadastrar nova transação', new_card_path %>
            </div>

            <br />

            <br />

            <div class="card-action center-align bottom">
                <%= link_to 'Categorias', categories_path, class: 'btn waves-light waves-effect black' %>
            </div>
        </div>

        <div class="card-stacked col m7 s12">
            <div class="card-content">
                <%= link_to 'Ver Calendário', calendars_path, class: 'btn waves-light waves-effect blue'  %>
                
                <hr />

                <p>Filtre o resultado desejado!</p>

                <%= search_form_for @q do |f| %>
                    <div class="row">
                        <div class="field col m6 s12">
                            <label>De:</label>
                            <%= date_field_tag :date_init, nil, class: 'datepicker' %>
                        </div>

                        <div class="field col m6 s12">
                            <label>Até:</label>
                            <%= date_field_tag :date_end, nil, class: 'datepicker' %>
                        </div>

                        <div class="field col m6 s12">
                            <label>Tributo:</label>
                            <%= f.select :tribute_eq, Card.tributes.map { |key, value| [key.humanize, value] }, {include_blank: 'Selecione'}, class: "browser-default" %>
                        </div>

                        <div class="field col m6 s12">
                            <%= f.label 'Método de Pagamento' %>
                            <%= f.select :payment_method_eq, Card.payment_methods.map { |key, value| [key.humanize, value] }, {include_blank: 'Selecione'}, class: "browser-default" %>
                        </div>

                        <div class="field col m6 s12">
                            <%= f.label 'Tipo de transação' %>
                            <%= f.select :action_eq, Card.actions.map { |key, value| [key.humanize, value] }, {include_blank: 'Selecione'}, class: "browser-default" %>
                        </div>

                        <div class="field col m6 s12">
                            <%= f.label 'Categoria' %>
                            <%= f.collection_select :category_id_eq, Category.all.order(:name), :id, :name, {include_blank: 'Selecione'}, class: "browser-default" %>
                        </div>

                        <div class="field col m12 s12">
                            <%= f.label 'Tipo de Filtro' %>
                            <select class="browser-default" name="q[done_eq]" id="q_category_id_eq">
                                <option value="1">Filtrar somente notas concluídas</option>
                                <option value="0">Filtrar somente as notas não concluídas</option>
                            </select>
                        </div>
                        
                        <% if current_user.admin? %>
                            <div class="field col m12">
                                <label>
                                    <%= check_box_tag :only_particular_cards %>
                                    <span>Filtrar somente notas particulares</span>
                                </label>
                            </div>
                        <% end %>

                        <div class="field col m6 s12">
                            <label>
                                <%= f.check_box :receipt_true, include_hidden: false %>
                                <span>Recibo emitido</span>
                            </label>
                        </div>

                        <div class="field col m6 s12">
                            <label>
                                <%= f.check_box :invoice_true, include_hidden: false %>
                                <span>Nota Fiscal emitida</span>
                            </label>
                        </div>

                        <div class="field col m12">
                            <label>
                                <%= f.check_box :go_to_contability_true, include_hidden: false %>
                                <span>Filtrar somente notas para contabilidade</span>
                            </label>
                        </div>

                        <div class="alert center-align"><%= alert %></div>

                        <div class="actions center-align">
                            <%= f.submit 'Tirar Relatório', class: 'btn waves-effect waves-light m-top black right col s12 offset-md-1 m5', :format => :pdf %>
                            <%= link_to 'Limpar', root_path, class: 'btn waves-effect waves-light m-top left col s12 m4' %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>