<div class="container">
  <div class="col-md-12 text-center">
    <h4 id="month">
      <%= link_to "<", date: @date.prev_month, id: params[:id] %>
      <%= localize(@date, format: :month) %>
      <%= link_to ">", date: @date.next_month, id: params[:id] %>
    </h4>

    <%= calendar @date do |date| %>
      <%= date.day %>

      <% if @cards[date] %>
        <ul>
          <% @cards[date].each do |card| %>
            <% if card.done %>
              <strike><%= card.name %></strike> <br />
              <strike><%= card.description %></strike> <br />
            <% else %>
              <%= card.name %> <br />
              <%= card.description %> <br />
            <% end %>
            
            <%= form_with(model: card, local: true, id: "done_form") do |f| %>
                        
              <%= hidden_field_tag "url", "home" %>

              <label>
                  <%= f.check_box :done, id: "done_checkbox" %>
                  <span>Concluído</span>
              </label>

              <%= link_to 'Ver', edit_card_path(card), class: 'waves-effect waves-light btn-small right' %>

              <%= f.submit 'Salvar', class: 'hide' %>
          <% end %>

            <hr />
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>