<%= form_with(model: card, local: true) do |f| %>
  <div class="row">
    <div class="card offset-l3 col m12 l6">
      <h4>Dados Pessoais</h4>
      <div class="row">
        <div class="field col m6 s12">
          <%= f.label 'Nome' %>
          <%= f.text_field :name, placeholder: 'Digite o nome', required: true %>
        </div>

        <div class="field col m6 s12">
          <%= f.label 'CPF ou CNPJ' %>
          <%= f.text_field :document, placeholder: 'XXX.XXX.XXX-XX', required: true %>
        </div>
      </div>


      <h4>Dados</h4>

      <div class="field">
        <%= f.label 'Tipo de transação' %>
        <%= f.select :action, Card.actions.map { |key, value| [key.humanize, key] }, {include_blank: 'Selecione'}, class: "browser-default", required: true %>
      </div>

      <div class="field">
        <%= f.label 'Valor' %>
        <%= f.number_field :value, min: 0, step: :any, placeholder: 'R$', required: true %>
      </div>
      
      <div class="field">
          <%= f.label 'Data que foi realizado o procedimento' %>
          <%= f.date_field :on_date, class: 'datepicker' %>
      </div>

      <div class="field">
        <%= f.label 'Tributo' %>
        <%= f.select :tribute, Card.tributes.map { |key, value| [key.humanize, key] }, {include_blank: 'Selecione'}, class: "browser-default", required: true %>
      </div>

      <br />

      <div class="field">
        <div class="row">
          <div class="col m6">
            <label>
              <%= f.check_box :receipt %>
              <span>Recibo emitido</span>
            </label>
          </div>

          <div class="col m6">
            <label>
              <%= f.check_box :invoice %>
              <span>Nota Fiscal emitida</span>
            </label>
          </div>

          <div class="col m12 center-align m-top">
            <label>
              <%= f.check_box :go_to_contability %>
              <span>Ir para contabilidade</span>
            </label>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.label 'Escreva uma descrição resumida' %>
        <%= f.text_area :description, required: true %>
      </div>

      <div class="field">
        <%= f.label 'Método de Pagamento' %>
        <%= f.select :payment_method, Card.payment_methods.map { |key, value| [key.humanize, key] }, {include_blank: 'Selecione'}, class: "browser-default", required: true %>
      </div>

      <!-- Only can set when you're creating a card -->
      <% if @card.name.nil? %>
        <div class="field">
          <%= f.label 'Parcelas' %>

          <select name="card[parcels]" class="browser-default" required>
            <% (1..36).each do |index| %>
              <option value=<%= index %>><%= index %>x</option>
            <% end %>
          </select>
        </div>
      <% end %>

      <div class="field">
        <%= f.label 'Tipo' %>
        <%= f.select :card_type, Card.card_types.map { |key, value| [key.humanize, key] }, {include_blank: 'Selecione'}, class: "browser-default", required: true %>
      </div>

      <div class="field">
        <%= f.label 'Categoria' %>
        <%= f.collection_select :category_id, Category.all.order(:name), :id, :name, {include_blank: 'Selecione'}, class: "browser-default", required: true %>
      </div>
      
      <% if card.name.present? %>
        <hr />

        <div class="field center-align">
          <label>
              <%= f.check_box :done, id: "done_checkbox", onclick: "callCalendar(#{card.id})" %>
              <span>Concluído</span>
          </label>
        </div>

        <br />
        
        <div class="field">
            <%= f.label 'Data de conclusão (Data que o pagamento foi efetivado)' %>
            <%= f.date_field :date_concluded, class: 'datepicker' %>
        </div>
      <% end %>

      <br />

      <div class="actions">
        <%= link_to 'Voltar', :back, class: 'btn waves-effect waves-light' %>

        <%= f.submit 'Salvar', class: 'btn waves-effect waves-light blue right' %>
      </div>
    </div>
  </div>
<% end %>
