<div class="card">
  <h3>Listagem Financeira <%= params[:tribute].gsub("_", " ").titleize if params[:tribute].present? %></h3>

  <b>Faturamento Anual:</b> R$ <%= (params[:tribute] == "pessoa_jurídica") ? calc_juridic_tax : calc_physical_tax %> 
  <br />
  <small><%= (params[:tribute] == "pessoa_jurídica") ? "De #{Date.today - 1.year} a #{Date.today}" : "De #{Time.now.beginning_of_year} a #{Time.now.end_of_year}" %></small>

  <hr />

  <b><%= (!params[:to].blank? && !params[:from].blank?) ? "Ganho Mensal (#{params[:from].to_date.strftime("%d/%m/%Y")} até #{params[:to].to_date.strftime("%d/%m/%Y")}):" : "Ganho Total" %></b> R$ <%= sum_won %> <br /> 
  
  <% if params[:tribute] == "pessoa_jurídica" %>
    <b>Imposto:</b> R$ <%= ((sum_won * 6)/100).truncate(2) %>
  <% end %>
  
  <hr />
  
  <b><%= (!params[:to].blank? && !params[:from].blank?) ? "Gasto Mensal (#{params[:from].to_date.strftime("%d/%m/%Y")} até #{params[:to].to_date.strftime("%d/%m/%Y")}):" : "Gasto Total" %></b> R$ <%= sum_spent %> <br />
  <b>Porcentagem de gasto:</b> <%= ((sum_spent * 100)/ sum_won).truncate(2) %> %

  <br /><br />
  

  <%= link_to 'Voltar', root_path, class: 'btn waves-light waves-light' %>

  <%= link_to export_cards_path(from: params[:from], 
                                to: params[:to], 
                                tribute: params[:tribute], 
                                payment_method: params[:payment_method], 
                                format: :pdf), 
                                class: 'btn waves-light waves-light black right' do %>
                                  
    Retirar Relatório <i class="material-icons">picture_as_pdf</i>
  <% end %>

  <br /><br />

  <div class="divider"></div>

  <table class="responsive-table">
    <tbody>
        <% @cards.each do |card| %>
          <td>
            <div class="row m-top">
              <div class="col m4">
                <div class="input-field">
                  <i class="material-icons prefix">account_circle</i>
                  <label><%= card.name %></label>
                </div>

                <br />

                <div class="input-field">
                  <i class="material-icons prefix">assignment_ind</i>
                  <label><%= card.document %></label>
                </div>
              </div>

              <div class="col m8 center-align">
                <div class="row">
                  <div class="field">
                    <% if card.recebimento? %>
                      <b style="color:green"> + <%= card.value.truncate(2) %></b>
                    <% else %>
                      <b style="color:red"> - <%= card.value.truncate(2) %></b>
                    <% end %>
                  </div>

                  <div class="divider"></div>

                  <div class="field col m6">
                    <label><b>Descrição:</b> <%= card.description %></label>
                  </div>

                  <div class="field col m6">
                    <label><b>Tributo:</b> <%= card.tribute %></label>
                  </div>

                  <div class="field col m6">
                    <label><b>Comprovante:</b> <%= card.is_receipt_or_invoice? %></label>
                  </div>

                  <div class="field col m6">
                    <label><b>Pagamento:</b> <%= card.payment_method %></label>
                  </div>
                </div>

                <div class="divider"></div>

                <div class="row">
                  <div class="col m6">
                    <label><b>Data:</b> <%= card.on_date %></label>
                  </div>

                  <div class="col m6">
                    <label><b>Categoria:</b> <%= card.category.name %></label>
                  </div>
                </div>

                <%= link_to 'Editar', edit_card_path(card), class: 'btn waves-light waves-light blue left' %>

                <% if current_user.admin? %>
                  <%= link_to card, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'right btn waves-effect waves-light red' do %>
                    <i class="material-icons prefix">delete_forever</i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>
